:root {
  --primary-very-dark-blue-background: hsl(233, 47%, 7%);
  --primary-dark-desaturated-blue-card-bg: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);

  --White-main-heading: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: var(--primary-very-dark-blue-background);
  background-size: cover;
  display: flex;
  justify-content: center;
}
.parent {
  display: flex;
  margin-top: 25vh;
  width: 60%;
  height: 100%;
}

.left-box {
  width: 100%;
  background-color: var(--primary-dark-desaturated-blue-card-bg);
  padding: 30px 48px 30px 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-box {
  width: 100%;
  background-image: url(../images/image-header-desktop.jpg);
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.overly {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--soft-violet-accent);
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.main-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.3;
}

span {
  color: var(--soft-violet-accent);
}
.main-text {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Slightly-transparent-white-main-paragraph);
  line-height: 1.9;
  letter-spacing: 0.3px;
  width: 86%;
  padding-bottom: 36px;
}

.info-box {
  padding: 0;
  width: 86%;
  height: 7%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-box > .infos h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.info-box > .infos > .info-detail {
  color: var(--Slightly-transparent-white-stat-headings);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}

@media screen and (max-width: 1040px) {


  .main-heading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
  }
  .main-text {
    font-family: "Lexend Deca", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--Slightly-transparent-white-main-paragraph);
    line-height: 1.4;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
  }

  .info-box {
    padding: 0;
    margin: 0 auto 20px -12px;
    width:100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .infos {
      padding: 0;
      margin: 0;
      text-align: center;
  }
  .info-box>.infos h2 {
      text-transform: uppercase;
      font-size: .9rem;
      text-align: center;
      padding-left: 18px;
  }
  .info-box>.infos>.info-detail {
      color: var(--Slightly-transparent-white-stat-headings);
      text-transform: uppercase;
      font-family: "Lexend Deca", sans-serif;
      font-weight: 400;
      font-size: 0.6rem;
      padding-left: 20px;
      text-align:center;
      margin: 0;
  }
  
}
